.container {
  height: 100vh;
  background-image: url("/auth-bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  padding: 40px 50px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.09);
  width: 500px;
}